* {
	margin: 0;
	padding: 0;
}

#header-nav {
	display: flex;
	justify-content: flex-end;
}

#header-nav > * {
	padding: 10px 20px;
}

#my-account-nav {
	display: flex;
	flex-direction: column;
}

.form-view {
	display: flex;
	justify-content: center;
}

.form, .form-group {
	display: flex;
	flex-direction: column;
}

.form {
	min-width: 250px;
}

.form-group {
	margin-bottom: 20px;
}

.validation-error {
	max-width: 250px;
	color: red !important;
}