/* GENERAL */

* {
	margin: 0;
	padding: 0;
}

#content {
	display: flex;
	margin-top: 20px;
}

#content-center {
	display: flex;
	justify-content: center;
}

.main-content {
	margin-left: 100px;
}





/* NAVIGATION */

#header-nav {
	display: flex;
	justify-content: flex-end;
}

#header-nav > * {
	padding: 10px 20px;
}

#my-account-nav {
	display: flex;
	flex-direction: column;
}

#my-account-nav > * {
	padding: 10px 0px;
}





/* FORMS */

.form, .form-group {
	display: flex;
	flex-direction: column;
}

.form {
	min-width: 250px;
}

.form-group {
	margin-bottom: 20px;
}

.validation-error {
	max-width: 250px;
	color: red !important;
}





/* TABLES */

table {
	/* width: 100%; */
	border-collapse: collapse;
	font-size: 14px;
}
  
th, td {
	padding: 5px 10px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
}

.usr-resrc-title, .usr-resrc-description {
	max-width: 200px;
}

.usr-resrc-body {
	max-width: 300px;
}

.usr-resrc-created, .usr-resrc-edit, .usr-resrc-delete {
	max-width: 200px;
}

.resrc-title, .resrc-description {
	max-width: 200px;
}

.resrc-body {
	max-width: 300px;
}

.resrc-created {
	max-width: 200px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}





/* LISTS */

.two-columns {
	column-count: 2;
	/* column-gap: 10px; */
}
