/* GENERAL */

* {
	margin: 0;
	padding: 0;
}

#content {
	display: flex;
	margin-top: 20px;
}

#content-center {
	display: flex;
	justify-content: center;
}

.main-content {
	margin-left: 100px;
}

/* NAVIGATION */

#header-nav {
	display: flex;
	justify-content: flex-end;
}

#header-nav > * {
	padding: 10px 20px;
}

#my-account-nav {
	display: flex;
	flex-direction: column;
}

#my-account-nav > * {
	padding: 10px 0px;
}

/* FORMS */

.form, .form-group {
	display: flex;
	flex-direction: column;
}

.form {
	min-width: 250px;
}

.form-group {
	margin-bottom: 20px;
}

.validation-error {
	max-width: 250px;
	color: red !important;
}